@font-face {
    font-family: "OpenSans-SemiBold.ttf";
    src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
    font-family: "OpenSans-Bold.ttf";
    src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "OpenSans-Light.ttf";
    src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
    font-family: "OpenSans-Regular.ttf";
    src: url("../fonts/OpenSans-Regular.ttf"
}